
body {
    background-image: url('assets/worlds.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(115, 6, 10, 0.925);
}
/*=============================*/
/* Navbar */
/*=============================*/
@media screen and (max-width: 768px) {
    .navbar-toggler{
        align-items: center;
        margin-top: 35px;
       }
}
.navbar {
    background-color: #560D10;
    padding: 28px 0;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    bottom: 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    width: 200px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 30px;
}


.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 1px;
    position: relative;
}


.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s;
}


.nav-link:hover::after {
    width: 100%;
}


.donate-btn {
    background-color: #ffffff;
    color: #560D10;
    border: 2px solid #560D10;
    padding: 8px 20px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.donate-btn:hover {
    background-color: #730609;
    color: #ffffff;
}


.navbar-toggler {
    background-color: #560D10;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-toggler i {
    color: #fff;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav-links.active li {
        margin-right: 0;
        margin-top: 10px;
    }

    .nav-link {
        display: block;
        padding: 10px;
    }

    .navbar-toggler {
        display: block;
    }
}

/* Hide toggler on larger screens */
@media screen and (min-width: 769px) {
    .navbar-toggler {
        display: none;
    }
}


/*=============================*/
/* Carousel /Slideshow*/
/*=============================*/

#carousel-container {
    display: flex;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: none;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
}

.carousel-content h1,
.carousel-content p {
    margin-left: 100px;
    margin-right: 450px;
}

.carousel-content h1
{
    margin-bottom: 30px;
}

.active {
    display: block;
}

.carousel-slide img {
    width: 100%;
    max-height: 600px;
}

.carousel-content {
    position: absolute; /* Ubah dari fixed ke absolute */
    top: 50%;
    left: 0; /* Mengubah dari transform ke left untuk align ke kiri */
    transform: translateY(-50%);
    color: #ffff;
    width: 100%; /* Menambahkan lebar 100% agar elemen di dalamnya bisa align ke kiri */
    box-sizing: border-box; /* Memastikan padding dihitung dalam lebar */
    padding-left: 15px; /* Padding kiri untuk menjaga konten tidak terlalu menempel ke tepi */
}

.buttons {
    margin-left: 100px;
    margin-top: 10px;
}

.buttons .btn {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #ffff;
    background-color: #730609;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.buttons .btn:hover {
    transform: translateY(-2px);
}

.dots {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 5px;
    cursor: pointer;
}

.active-dot {
    background-color: #730609;
}

/* Penyesuaian untuk prev dan next */
.prev, .next {
    top: 10%;
    z-index: 10; 
}

.prev { left: 10px; }
.next { right: 10px; }

/* Penyesuaian untuk dots */
.dots {
    position: absolute;
    bottom: 10%; /* Menyesuaikan posisi bottom untuk dots */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Memastikan dots berada di atas gambar */
}

.prev,
.next {
    cursor: pointer;
    color: #ffffff;
    font-size: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media screen and (max-width: 430px) {
    .carousel-content .buttons .btn{
        margin-left: 0;
        display: block;
        width: 30%;
        text-align: center;
    }
    .dots {
        display: none;
    }
    .carousel-content h1 {
        display: none;
        font-size: 1vh;
        text-align: center;
    }
    .carousel-content p {
        display: none;
        width: 100%;
        /* Anda dapat menambahkan aturan CSS lain di sini untuk membuat tampilan lebih responsif */
        box-sizing: border-box; /* Ini memastikan padding dan border termasuk dalam lebar total */
        padding: 0 15px; /* Ini menambahkan sedikit ruang di sisi kiri dan kanan teks */
    }
    .prev,
    .next {
    display: none;
    }
    .buttons {
    display: none;
    }
    
}

@media screen and (max-width: 768px) {
    .carousel-content h1
    {
    font-size: 2.5vh;
    }
    .carousel-content p {
        font-size: 2vh;
    }
    .dots {
        padding-bottom: 0;
        bottom: 40%;
    }
    .prev,
.next {
    cursor: pointer;
    color: #ffffff;
    font-size: 36px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}
}


/*=============================*/
/* Brief Description*/
/*=============================*/

#short-description {

    background-position: center;
    padding: 70px 0;
    margin-bottom: 10px;
}

.description {
    text-align: center;
    margin-bottom: 30px
}

.description h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
    position: relative;
}

.description h2::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #ffffff;
}

.description p {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    font-size: 22px;
    margin-top: 50px;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1.5;

}


@media screen and (max-width: 768px) {
    .description h2::after {
        bottom: -10px;
        width: 30px;
        height: 2px;
    }

    .description p {
        margin-top: 30px;
    }
}



/*=============================*/
/* Vision dan Mission*/
/*=============================*/

#mission-vision {
    background-image: url('assets/MapsBg.png');
    padding: 30px 50px;
    background-color: #560D10;
    margin-bottom: 100px;
    background-color: rgba(73, 2, 2, 0.7);
    background-size: cover;
    background-position: center;
}


#mission-vision p {
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 178px;
}

.card-column {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
    text-align: center;
    box-sizing: border-box;

}

.card {
    border: none;
    width: 100%;
    height: 420px;
    max-width: 450px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: #ffff;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #560D10;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    color: #000000;
    line-height: 1;
}

.icon {
    text-align: center;
}

.icon img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 30px;

}
@media (max-width: 768px) {
    .row {
        margin-left: 0; /* Adjusted to remove any unnecessary horizontal space */
        margin-right: 0;
        justify-content: center; /* Centers the content */
    }

    .card-column {
        width: 100%; /* Full width of the container */
        margin: 0; /* Reset margin to ensure consistency */
        padding: 0; /* Reset padding to ensure consistency */
        text-align: center;
        margin-bottom: 10%;
    }

    .card {
        max-width: none; /* Remove max-width restriction */
    }
}

@media (max-width: 430px) {
    .card-text {
        padding: 0;
        margin: 0;
        font-size: 1vh; /* Adjust font size for readability */
    }

    .row {
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }
    .card-text2{
        display: none;
    }
    

    .card-column {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10%;
    }

    .card {
        max-width: none;
    }
}


/*=============================*/
/* Featured Programs*/
/*=============================*/

#features {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1px 10px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.container-features .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    height: 300px;
    background: #ffff;
    border-radius: 5px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    margin-bottom: 50px;
}

.container-features .card:hover {
    height: 400px;
}

.container-features .card .imgBx {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
}

.container-features .card:hover .imgBx {
    top: -100px;
    transform: scale(0.75);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container-features .card .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-features .card .Content {
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: top 0.5s;
}

.container-features .card:hover .Content {
    top: 130px;
    height: 250px;
}


.container-features .card .Content h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-size: 1.5em;
    color: #730609;
}

.container-features .card .Content p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    color: #000000;
}

.container-features .card .Content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: #ffff;
    color: #ffff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}
/* Penyesuaian untuk viewport 768px ke bawah */
@media (max-width: 768px) {
    .container-features .card .imgBx img {
        width: 100%; /* Menetapkan lebar gambar menjadi penuh sesuai kontainer */
        height: auto; /* Menetapkan tinggi gambar menjadi otomatis sesuai rasio aspek */
    }

    .container-features .card .Content {
        padding: 0 15px; /* Padding lebih kecil */
    }

    .container-features .card .Content h2, 
    .container-features .card .Content p {
        font-size: smaller; /* Sesuaikan ukuran font */
    }
}

/* Penyesuaian untuk viewport 430px ke bawah */
@media (max-width: 430px) {
    .container-features .card .imgBx img {
        width: 100%; /* Menetapkan lebar gambar menjadi penuh sesuai kontainer */
        height: auto; /* Menetapkan tinggi gambar menjadi otomatis sesuai rasio aspek */
    }

    .container-features .card .Content {
        padding: 0 15px; /* Padding lebih kecil */
    }

    .container-features .card .Content h2, 
    .container-features .card .Content p {
        font-size: smaller; /* Sesuaikan ukuran font */
    }
}



/*=============================*/
/* Information*/
/*=============================*/
@media screen and (max-width: 768px) {
    #brief-info .container-information,
    .information,
    .description,
    .counters-notes-container {
        flex-direction: column; 
        align-items: center; 
    }

    .description,
    .counters-notes-container {
        flex-basis: auto; 
        width: 100%; 
    }

    .counter-note {
        margin-bottom: 20px; 
    }
}

.container-information {
    text-align: center;
}

.counters-notes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.counter-note {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    color: #ffff;
    margin-bottom: 50px;
    text-align: center;
}

.note {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #ffff;
    margin-bottom: 50px;
    text-align: center;
}


#brief-info {
    background-image: url('assets/MapsBg.png');
    background-color: rgba(73, 2, 2, 0.7);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    margin-bottom: 100px;
}

.information {
    text-align: center;
    margin-bottom: 30px;
}

.information h2 {
    color: #fff;
    margin-bottom: 50px;
}

.information p {
    color: #fff;
}

.buttons-container {
    margin-top: 70px;
}

.join-button,
.learn-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-button {
    background-color: #ffff;
    color: #000000;
    text-decoration: none;

}

.learn-button {
    background-color: #730609;
    color: #ffff;
    text-decoration: none;

}

.join-button:hover,
.learn-button:hover {
    background-color: #560D10;
    color: white;
}

@media screen and (max-width: 768px) {
    .counter-note {
        margin: 0px;
    }
}



/*=============================*/
/* Photo Slider*/
/*=============================*/
@media (max-width: 430px) {
.caption {
    display: none;
}
}
.slider-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;

}


.slider {
    margin-top: 100px;
    display: flex;
    transition: transform 0.5s ease;
    width: 237%;
}

.slide {
    position: relative;
}

.slider img {
    max-width: 95%;
    height: auto;
    display: block;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: rgba(70, 3, 3, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slide:hover .caption {
    opacity: 1;
}

.photo-prev,
.photo-next {
    background: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    z-index: 1;
}

.photo-prev {
    left: 0;
    color: #560D10;
}

.photo-next {
    right: 0;
    color: #560D10;
}


/*=============================*/
/* Footer*/
/*=============================*/
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo, .contact, .follow {
        flex-basis: auto;
        width: 100%; 
        margin-top: 20px; 
    }

    .contact ul, .follow ul {
        margin-left: 0; 
        text-align: center;
    }
}


footer {
    font-family: 'Nunito', sans-serif;
    background-color: #560D10;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative; 
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo,
.contact,
.follow {
    margin-top: 35px;
    flex-basis: calc(33.33% - 20px);
    text-align: center;
}

.logo img {
    width: 200px;
    height: auto;
}

.logo p {
    font-size: 16px;
    margin-top: 15px;
}

.contact p,
.follow p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
}

.contact ul,
.follow ul {
    margin-left: 42%;
    list-style-type: none;
    padding: 0;
}

.contact ul li,
.follow ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.footer-content ul li a {
    position: relative;
    text-decoration: none; 
    color: #ffff; 
}

.footer-content ul li a:hover {
    position: relative; 
}

.footer-content ul li a:hover::after {
    content: ''; 
    position: absolute; 
    left: 0;
    bottom: -2px; 
    width: 100%; 
    height: 2px; 
    background-color: #ffff; 
    transition: width 0.3s ease; 
}

.contact ul li i,
.follow ul li i {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.footer-line {
    height: 1px;
    background-color: #ffff;
    margin: 20px 0;
    width: 100%;
}

.footer-content:after {
    content: "";
    display: table;
    clear: both;
}

.copyright {
    font-size: 16px;
    margin-top: 20px;
}